# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/mockito-fundamentals.iml
.idea/modules.xml
.idea/vcs.xml
section3/.idea/vcs.xml
section3/.idea/misc.xml
section3/.idea/encodings.xml
section3/.idea/jpa-buddy.xml
/section5/.idea/encodings.xml
/.idea/encodings.xml
/section2/.gradle/8.5/dependencies-accessors/executionHistory.bin
/section2/.gradle/8.5/executionHistory/executionHistory.bin
/section2/.gradle/8.5/executionHistory/executionHistory.lock
/section2/.gradle/file-system.probe
/section2/.gradle/8.5/fileHashes/fileHashes.bin
/section2/.gradle/8.5/fileHashes/fileHashes.lock
/section2/.gradle/8.5/dependencies-accessors/gc.properties
/section2/.gradle/8.5/gc.properties
/section2/.gradle/vcs-1/gc.properties
/section2/gradle/wrapper/gradle-wrapper.properties
/section2/.gradle/8.5/dependencies-accessors/1070ebfbd099b78b126c8a9f6e6da75e60d2c840/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
/section2/.gradle/8.5/checksums/md5-checksums.bin
/section2/build/test-results/test/binary/output.bin.idx
/section2/gradlew
/section2/gradlew.bat
/section2/target/surefire-reports/info.vladimirov.pluralsight.mockito.section2.TradingAppTest.txt
/section2/.gradle/8.5/dependencies-accessors/1070ebfbd099b78b126c8a9f6e6da75e60d2c840/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/section2/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/section2/build/tmp/compileJava/previous-compilation-data.bin
/section2/.gradle/8.5/fileChanges/last-build.bin
/section2/build/reports/tests/test/packages/info.vladimirov.pluralsight.mockito.section2.html
/section2/gradle/libs.versions.toml
/section2/build/test-results/test/binary/output.bin
/section5/.idea/jpa-buddy.xml
/section2/build/reports/tests/test/index.html
/section2/build/reports/tests/test/classes/info.vladimirov.pluralsight.mockito.section2.TradingAppTest.html
/.idea/jarRepositories.xml
/section5/.idea/misc.xml
/section2/.gradle/buildOutputCleanup/outputFiles.bin
/section2/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/section2/build/tmp/compileTestJava/previous-compilation-data.bin
/section2/build/reports/tests/test/js/report.js
/section2/.gradle/8.5/fileHashes/resourceHashesCache.bin
/section2/build/test-results/test/binary/results.bin
/section2/settings.gradle
/section2/.gradle/8.5/checksums/sha1-checksums.bin
/section2/build/reports/tests/test/css/style.css
/section2/build/test-results/test/TEST-info.vladimirov.pluralsight.mockito.section2.TradingAppTest.xml
/section2/target/surefire-reports/TEST-info.vladimirov.pluralsight.mockito.section2.TradingAppTest.xml
/section2/build/tmp/compileTestJava/compileTransaction/stash-dir/TradingAppTest.class.uniqueId0
/.idea/uiDesigner.xml
/section2/.gradle/buildOutputCleanup/cache.properties
/.idea/compiler.xml
/section2/.gradle/8.5/dependencies-accessors/dependencies-accessors.lock
/section2/.gradle/8.5/checksums/checksums.lock
/section5/.idea/vcs.xml
/section2/build/reports/tests/test/css/base-style.css
/section2/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/section2/.gradle/workspace-id.txt
/section2/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/section2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/section2/.gradle/workspace-id.txt.lock
/section5/src/main/resources/availableCurrencies.properties
